body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none; /* Native-like experience for Electron apps */
  -moz-user-select: none; /* Native-like experience for Electron apps */
}

a {
  -webkit-user-drag: none; /* Native-like experience for Electron apps */
  -moz-user-drag: none; /* Native-like experience for Electron apps */
}
